<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkoutDev</title>
</head>
<body>
    <header>
        <h1>WorkoutDev</h1>
    </header>
    <main>
        <h2>Program</h2>
        <a href="/program/new">New</a>
    </main>
</body>
</html>